/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container{
    position: absolute;
    color: rgb(255, 255, 255);
    opacity: 1;
   align-items: center;
   width: 641px;
}

img{
    background-color: rgba(0, 0, 0, 0.39);
   height: 667px;
   width: 2055px;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background-color: black;
}

#fundo{
border-radius: 20px;
    background-image: url(./FKIwMliX0AIeIBS.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
 }

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    color: rgb(255, 255, 255);
   align-items: center;
   margin-top: 168px;
   width: 736px;
}

section{
    margin-top: 133px;
    color: rgb(255 255 255 / 68%);
    width: 358px;
    height: 59px;
    background: #242424;
    border-radius: 30px;
    display:flex ;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

section > img{
    width: 35px;
    height: 35px;
}